<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th width="20%">Name</th>
        <th width="20%">Email</th>
        <th width="20%">Domain</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let u of users">
        <td width="20%">{{u.name}}</td>
        <td width="20%">{{u.email}}</td>
        <td width="20%">{{u.domain}}</td>
      </tr>
    </tbody>
  </table>
</div>
</body>
</html>
